<!-- templates/registration/password_reset_form.html -->
{% extends 'template-login.html' %}

{% block title %}Esqueci minha senha{% endblock %}
{% block card-title %}Esqueceu sua senha?{% endblock %}

{% block body %}
    <p>Insira seu e-mail abaixo, que nos iremos enviar as instruções para resetar a sua senha.</p>

    <form method="POST">
        {% csrf_token %}
        
        <!-- USUÁRIO -->
        <div class="form-group col-12">
            <label for="{{ form.email.id_for_label }}" class="form-text text-muted">E-mail:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <!-- BOTAO -->
        <div class="row justify-content-center">
            <div class="col-5">
                <input class="btn btn-outline-secondary btn-block" type="submit" value="Enviar">
            </div>
        </div>
    </form>
{% endblock %}