{% extends 'template-login.html' %}

{% block title %}Nova senha{% endblock %}
{% block card-title %}Nova senha{% endblock %}

{% block body %}

    {% if validlink %}
        <form method="POST">
            {% csrf_token %}

            <!-- NOVA SENHA -->
            <div class="form-group col-12">
                <label for="{{ form.new_password1.id_for_label }}" class="form-text text-muted">Nova senha:</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>

            <!-- NOVA SENHA 2 -->
            <div class="form-group col-12">
                <label for="{{ form.new_password2.id_for_label }}" class="form-text text-muted">Confirmação da nova senha:</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <ul>
                <li class="text-muted">Sua senha não pode ser muito semelhante às suas outras informações pessoais.</li>
                <li class="text-muted">Sua senha precisa conter pelo menos 8 caracteres.</li>
                <li class="text-muted">Sua senha não pode ser usada com frequência.</li>
                <li class="text-muted">Sua senha não pode ser totalmente numérica.</li>
            </ul>
            <!-- BOTAO -->
            <div class="row justify-content-center">
                <div class="col-5">
                    <input class="btn btn-outline-secondary btn-block" type="submit" value="Trocar">
                </div>
            </div>
        </form>
    {% else %}
        <p>Link inválido. Por gentileza tentar novamente.</p>
    {% endif %}

{% endblock %}
