.link-none:link{
    color: #6c757d;
    text-decoration:none;
}

.link-none:hover{
    color: #6c757d;
    background-color: none;
}

.link-none:visited{
    color:#6c757d;   
}

#id_username{
    width: 100%;;
}

#id_password{
    width: 100%;;
}

#id_email{
    width: 100%;;
}

#id_new_password1{
    width: 100%;;
}

#id_new_password2{
    width: 100%;;
}

#id_password1{
    width: 100%;;
}

#id_password2{
    width: 100%;;
}

.errorlist{
    color: red;
    margin-top: 10px;
    font-style: italic;
}

.helptext{
    font-style: italic;
    color: #6c757d;
}

.btn-acao-vermelho {
    position: relative;
    color: #990606 !important;
    border-radius: 2px;
    -webkit-transition: 0.66s all;
    -o-transition: 0.66s all;
    transition: 0.66s all;
}

.btn-acao-vermelho:hover {
    -webkit-transition: 0.66s all;
    -o-transition: 0.66s all;
    transition: 0.66s all;
    background-color: #990606 !important;
    color: #ffffff !important;
}


.btn-acao-verde {
    position: relative;
    color: #007e0c !important;
    border-radius: 2px;
    -webkit-transition: 0.66s all;
    -o-transition: 0.66s all;
    transition: 0.66s all; 
}
.btn-acao-verde:hover {
    -webkit-transition: 0.66s all;
    -o-transition: 0.66s all;
    transition: 0.66s all;
    background-color: #007e0c !important;
    color: #ffffff !important; 
}

.btn-acao-azul {
    color: #003d7e !important;
    border-radius: 2px;
    -webkit-transition: 0.66s all;
    -o-transition: 0.66s all;
    transition: 0.66s all;
}

.btn-acao-azul:hover {
    -webkit-transition: 0.66s all;
    -o-transition: 0.66s all;
    transition: 0.66s all;
    background-color: #003d7e !important;
    color: #ffffff !important;
}

:not(.layout-fixed) .main-sidebar {
    position: fixed;
}
