{% extends 'template.html' %}
{% load static %}
{% load bootstrap4 %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Comprar Créditos{% endblock %}
{% block name_page %}Comprar Créditos{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Comprar Créditos</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">
        
        {% comment %} CARTEIRA {% endcomment %}
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-wallet"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Seu saldo é de:</span>
                <span class="info-box-number">R$ {{ saldo }}</span>
            </div>
        </div>

        <div class="info-box">
            <div class="info-box-content">
                <h4>Selecione quanto deseja comprar:</h4>
                <div class="row">
                    <form action="." method="post" class="form">{% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Comprar</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}