{% extends 'template.html' %}
{% load static %}
{% load bootstrap4 %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Estacionar{% endblock %}
{% block name_page %}Estacionar{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Estacionar</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">

        {% comment %} CARTEIRA {% endcomment %}
        <div class="card-body">
            <!-- APELIDO -->
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-wallet"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Seu saldo é de:</span>
                    <span class="info-box-number">R$ {{ saldo }}</span>
                </div>
            </div>
            <a href="{% url 'comprar' %}" class="btn btn-outline-info text-center">Comprar mair créditos.</a>
            <a href="{% url 'veiculo' %}" class="btn btn-outline-primary text-center">Cadastrar um novo veículo.</a>
        </div>

        {% comment %} MENSAGENS DE RETORNO {% endcomment %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error_mensagem }}
        </div>
        {% endif %}
        {% if sucesso %}
        <div class="alert alert-success" role="alert">
            {{ sucesso_mensagem }}
        </div>
        {% endif %}
        {% if perfilvalido %}
        <div class="alert alert-warning" role="alert">
            Complete seu cadastro, para conseguir estacionar seu veículo.
        </div>
        {% endif %}

        {% comment %} TABELA {% endcomment %}
        <div class="card-body">
            <div class="info-box-content">
                <h4>Selecione quantas horas:</h4>
                <div class="row">
                    <div class="col-6">
                        <form action="." method="post" class="form">{% csrf_token %}
                            {% bootstrap_field form.horarios show_label=False %}
                            {% bootstrap_field form.veiculos %}
                            {% buttons %}
                            <button type="submit" class="btn btn-lg btn-primary">Comprar</button>
                            {% endbuttons %}
                        </form>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            {% if veiculos_ativos %}
                                {% for veiculo_ativo in veiculos_ativos %}
                                    <div class="col-6">
                                        <div class="info-box bg-info">
                                            <span class="info-box-icon"><i class="fas fa-car"></i></span>
                                            <div class="info-box-content box-veiculo-ativo">
                                                <span class="info-box-text">{{ veiculo_ativo.veiculo.placa }}</span>
                                                <span class="info-box-text">{{ veiculo_ativo.data_parada }}</span>
                                                <div style="display: none;">
                                                    <span class="info-mes">{{ veiculo_ativo.data_parada|date:"m" }}</span>
                                                    <span class="info-dia">{{ veiculo_ativo.data_parada|date:"d" }}</span>
                                                    <span class="info-ano">{{ veiculo_ativo.data_parada|date:"Y" }}</span>
                                                    <span class="info-hora">{{ veiculo_ativo.data_parada|date:"H" }}</span>
                                                    <span class="info-minuto">{{ veiculo_ativo.data_parada|date:"i" }}</span>

                                                    <span class="info-horas-contratadas">{{ veiculo_ativo.quantidade_horas.horas }}</span>
                                                    <span class="info-minutos-contratados">{{ veiculo_ativo.quantidade_horas.minutos }}</span>
                                                </div>
                                                <span class="info-box-number countdown"></span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
    <script>
        //objeto carro estacionado
        var carrosEstacionados = []

        var veiculosAtivos = document.getElementsByClassName('box-veiculo-ativo');

        for(veiculoAtivo of veiculosAtivos){
            //pegando do html o inicio
            var mesStart = veiculoAtivo.querySelector('.info-mes').innerText;
            var diaStart = parseInt(veiculoAtivo.querySelector('.info-dia').innerText);
            var anoStart = parseInt(veiculoAtivo.querySelector('.info-ano').innerText);
            var horaStart = parseInt(veiculoAtivo.querySelector('.info-hora').innerText);
            var minStart = parseInt(veiculoAtivo.querySelector('.info-minuto').innerText);

            //pegando do html quanto tempo vai ficar
            var horasContratadas = parseInt(veiculoAtivo.querySelector('.info-horas-contratadas').innerText);
            var minsContratados = parseInt(veiculoAtivo.querySelector('.info-minutos-contratados').innerText);
            
            //hora inicio
            var startParking = new Date(mesStart + ' ' + diaStart + ', ' + anoStart + ' ' + horaStart + ':' + minStart);

            //hora fim (hora inicio + horas e minutos contratados)
            var endParking = new Date(mesStart + ' ' + diaStart + ', ' + anoStart + ' ' + (horaStart + horasContratadas) + ':' + (minStart + minsContratados));

            carrosEstacionados.push(endParking);
        }

        // Update the count down every 1 second
        var x = setInterval(function() {

            //fazer o contador para cada carro
            for(item in carrosEstacionados){
                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = carrosEstacionados[item] - now;
                
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                veiculosAtivos[item].querySelector('.countdown').innerText = hours + "h " + minutes + "m " + seconds + "s ";
                
                // If the count down is finished, write some text
                if (distance < 0) {
                    veiculosAtivos[item].querySelector('.countdown').innerText = "Expirado";
                }
            }        
        }, 1000);
    </script>
{% endblock %}