{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Estacionar{% endblock %}
{% block name_page %}Estacionar{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Estacionar</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">
        
        {% comment %} CARTEIRA {% endcomment %}
        <div class="card-body">
            <!-- APELIDO -->
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-wallet"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Seu saldo é de:</span>
                    <span class="info-box-number">R$ {{ saldo }}</span>
                </div>
            </div>
            <a href="{% url 'comprar' %}" class="btn btn-outline-info text-center">Comprar mair créditos.</a>
        </div>


        {% comment %} TABELA {% endcomment %}
        <div class="">
        </div>

    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}