{% extends 'template.html' %}
{% load static %}
{% load bootstrap4 %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Estacionar{% endblock %}
{% block name_page %}Estacionar{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Estacionar</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">
        
        {% comment %} CARTEIRA {% endcomment %}
        <div class="card-body">
            <!-- APELIDO -->
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-wallet"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Seu saldo é de:</span>
                    <span class="info-box-number">R$ {{ saldo }}</span>
                </div>
            </div>
            <a href="{% url 'comprar' %}" class="btn btn-outline-info text-center">Comprar mair créditos.</a>
            <a href="{% url 'veiculo' %}" class="btn btn-outline-primary text-center">Cadastrar um novo veículo.</a>
        </div>
        
        {% comment %} MENSAGENS DE RETORNO {% endcomment %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error_mensagem }}
            </div>
        {% endif %}
        {% if sucesso %}
            <div class="alert alert-success" role="alert">
                {{ sucesso_mensagem }}
            </div>
        {% endif %}

        {% comment %} TABELA {% endcomment %}
        <div class="card-body">
            <div class="info-box-content">
                <h4>Selecione quantas horas:</h4>
                <div class="row">
                    <form action="." method="post" class="form">{% csrf_token %}
                        {% bootstrap_field form.horarios show_label=False %}
                        {% bootstrap_field form.veiculos %}
                        {% buttons %}
                            <button type="submit" class="btn btn-lg btn-primary">Comprar</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}