{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Histórico{% endblock %}
{% block name_page %}Histórico{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Histórico</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">
        {% comment %} TABELA {% endcomment %}
        <div class="card-body">
            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Data - Hora</th>
                        <th>Horas de estacionamento</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if paradas %}
                        {% for parada in paradas %}
                        <tr>
                            <td>{{ parada.veiculo.placa }}</td>
                            <td>{{ parada.data_parada }}</td>
                            <td>{{ parada.quantidade_horas.descricao_horas }}</td>
                            <td>
                                {% if parada.valido %}
                                    <span class="badge bg-success">Ativa</span>
                                {% else %}
                                    <span class="badge bg-danger">Expirada</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
    <script>
        $(function () {
            $('#table').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "cell-border": false,
                "language": {
                    "decimal":        "",
                    "emptyTable":     "Nenhum registro encontrado",
                    "info":           "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty":      "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered":   "(Filtrados de _MAX_ registros)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "_MENU_ resultados por página",
                    "loadingRecords": "Carregando...",
                    "processing":     "Processando...",
                    "search":         "Busca:",
                    "zeroRecords":    "Nenhum registro encontrado",
                    "paginate": {
                        "next":       "Próximo",
                        "previous":   "Anterior",
                        "first":      "Primeiro",
                        "last":       "Último",
                    },
                    "aria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
    </script>
{% endblock %}