{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Notificações{% endblock %}
{% block name_page %}Notificações{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Notificações</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">
        {% comment %} TABELA {% endcomment %}
        <div class="card-body">
            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Data - Hora</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% if notificacoes %}
                        {% for notificaccao in notificacoes %}
                            <tr>
                                <td>{{ notificaccao.tipo_notificacao.descricao_titulo }}</td>
                                <td>{{ notificaccao.data_notificacao }}</td>
                                <td>
                                    <a href="#" ><i class="far fa-eye btn btn-acao-verde"></i></a>
                                    <a href="#" ><i class="far fa-eye btn btn-acao-verde"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
    <script>
        $(function () {
            $('#table').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "cell-border": false,
            });
        });
    </script>
{% endblock %}