{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Perfil{% endblock %}
{% block name_page %}Perfil{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Perfil</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">

        <form role="form">
            <div class="card-body">
                
                <!-- NOME COMPLETO -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome Completo</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nome completo">
                </div>

                <!-- Telefone -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control is-valid" id="exampleInputEmail1" placeholder="Telefone">
                        <div class="input-group-append">
                            <div class="input-group-text"><span class="fas fa-mobile"></span></div>
                        </div>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control is-invalid" id="exampleInputEmail1" placeholder="E-mail">
                        <div class="input-group-append">
                            <div class="input-group-text"><span class="fas fa-envelope"></span></div>
                        </div>
                    </div>
                </div>

                <!-- Confirmar Password -->
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control is-valid" placeholder="Confirmar Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}