{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Perfil{% endblock %}
{% block name_page %}Perfil{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Perfil</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
    <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">

        {% comment %} MENSAGENS DE RETORNO {% endcomment %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error_mensagem }}
            </div>
        {% endif %}
        {% if sucesso %}
            <div class="alert alert-success" role="alert">
                {{ sucesso_mensagem }}
            </div>
        {% endif %}

        <form role="form" action="." method="POST"> {% csrf_token %}
            <div class="card-body">
                
                <!-- Nome completo -->
                <div class="form-group">
                    <label for="exampleInputNome">Nome completo</label>
                    <input name="nome" type="text" value="{{ user.first_name }}" class="form-control" id"exampleInputNome" placeholder="Nome completo">
                </div>

                <!-- Usuário -->
                <div class="form-group">
                    <label for="exampleInputUsuario">Usuário</label>
                    <input name="usuario" type="text" value="{{ user.username }}" class="form-control" id="exampleInputUsuario" placeholder="Usuário" readonly>
                </div>

                <!-- Estado -->
                <div class="form-group">
                    <label for="InputEstado">Estado</label>
                    <select name="estado" id="InputEstado" class="form-control select2bs4-estado">
                        <option value="">Selecione um estado</option>
                    </select>
                </div>
                
                <!-- Cidade -->
                <div class="form-group">
                    <label for="InputCidade">Cidade</label>
                    {% if infousuario %}
                        <input name="cidade" type="text" value="{{ infousuario.cidade }}" class="form-control select2bs4-cidade" id="InputCidade" placeholder="Cidade">
                    {% else %}
                        <select name="cidade" id="InputCidade" class="form-control select2bs4-cidade" disabled>
                            <option value="">Por favor, selecione um estado</option>
                        </select>
                    {% endif %}
                </div>

                <!-- Telefone -->
                <div class="form-group">
                    <label for="InputTelefone">Telefone</label>
                    <div class="input-group mb-3">
                        {% if infousuario %}
                            <input name="telefone" type="tel" value="{{ infousuario.telefone }}" class="form-control" maxlength="15" onkeyup="mascara( this, mtel );" id="InputTelefone" placeholder="Telefone">
                        {% else %}
                            <input name="telefone" type="tel" class="form-control" maxlength="15" onkeyup="mascara( this, mtel );" id="InputTelefone" placeholder="Telefone">
                        {% endif %}
                        
                        <div class="input-group-append">
                            <div class="input-group-text"><span class="fas fa-mobile"></span></div>
                        </div>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <div class="input-group mb-3">
                        <input name="email" type="email" value="{{ user.email}}" onkeyup="ValidarEmail()" maxlength="60" class="form-control" id="InputEmail" placeholder="E-mail" value="">
                        <div class="input-group-append">
                            <div class="input-group-text"><span class="fas fa-envelope"></span></div>
                        </div>
                    </div>
                </div>

                <!-- Confirmar Password -->
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <div class="input-group mb-3">
                        <input name="password" type="password" class="form-control" placeholder="Password" id="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" onkeyup="ValidarPassword()" placeholder="Confirmar Password" id="confirmPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
    <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <script>
        const selectInputEstado = document.querySelector('#InputEstado');
        const selectInputCidade = document.querySelector('#InputCidade');
        var estado = document.getElementById("InputEstado");
        var cidade = document.getElementById("InputCidade");
        var telefone = document.getElementById("InputTelefone");
        var field = document.getElementById("InputEmail");
        var pass1 = document.getElementById("password");
        var pass2 = document.getElementById("confirmPassword");

        $(document).ready(function() {
            // Popula os Estados
            populateInputEstadoelect();

            $('.select2bs4-estado').select2({
                theme: 'bootstrap4',
                width: '100%'
            });
            $('.select2bs4-cidade').select2({
                theme: 'bootstrap4',
                width: '100%'
            });
        });

        window.onload = function() {
            if (estado.value == ''){
                estado.classList.add("is-invalid");
                estado.classList.remove("is-valid");
            }
            if (cidade.value == ''){
                cidade.classList.add("is-invalid");
                cidade.classList.remove("is-valid");
            }
            if (telefone.value == ''){
                telefone.classList.add("is-invalid");
                telefone.classList.remove("is-valid");
            }
            if (field.value == ''){
                field.classList.add("is-invalid");
                field.classList.remove("is-valid");
            }
        };
        
        //  ESTADOS E CIDADES
        function populateInputEstadoelect(){
            fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados')
            .then(res => res.json())
            .then(InputEstado => {
                InputEstado.map(state => {
                    const option = document.createElement('option');
                    option.setAttribute('value', state.id);
                    option.textContent = state.nome;
                    selectInputEstado.appendChild(option);
                })
            })
        };

        $('#InputEstado').on('select2:select', () => {
            let nodesSelectInputCidade = selectInputCidade.childNodes;
            [...nodesSelectInputCidade].map(node => node.remove());
            
            estado.classList.add("is-valid");
            estado.classList.remove("is-invalid");

            let state = selectInputEstado.options[selectInputEstado.selectedIndex].value;
            fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/estados/${state}/municipios`)
            .then(res => res.json())
            .then(InputCidade => {
                selectInputCidade.removeAttribute('disabled');
                InputCidade.map(city => {
                    const option = document.createElement('option');
                    option.setAttribute('value', city.id);
                    option.textContent = city.nome;
                    selectInputCidade.appendChild(option);
                })
            })
        });

        $('#InputCidade').on('select2:select', () => {
            cidade.classList.add("is-valid");
            cidade.classList.remove("is-invalid");
        });

        function mascara(o,f){
            v_obj=o
            v_fun=f
            setTimeout("execmascara()",1);
        }

        function execmascara(){
            v_obj.value=v_fun(v_obj.value)
            ValidarTelefone();
        }

        function mtel(v){
            v=v.replace(/\D/g,"");             //Remove tudo o que não é dígito
            v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
            v=v.replace(/(\d)(\d{4})$/,"$1-$2");    //Coloca hífen entre o quarto e o quinto dígitos
            return v;
        }

        function ValidarTelefone(){
            let TelefoneReg = new RegExp("^[(]{1}[0-9]{2}[)]{1} [0-9]{5}-[0-9]{4}$");
            var t1 = TelefoneReg.test(telefone.value);
            console.log(t1);
            if (t1 == true) {
                telefone.classList.add("is-valid");
                telefone.classList.remove("is-invalid");
            } else {
                telefone.classList.add("is-invalid");
                telefone.classList.remove("is-valid");
            }
        }

        function ValidarEmail() {
            usuario = field.value.substring(0, field.value.indexOf("@"));
            dominio = field.value.substring(field.value.indexOf("@")+ 1, field.value.length);
            
            if ((usuario.length >=1) &&
                    (dominio.length >=3) && 
                    (usuario.search("@")==-1) && 
                    (dominio.search("@")==-1) &&
                    (usuario.search(" ")==-1) && 
                    (dominio.search(" ")==-1) &&
                    (dominio.search(".")!=-1) &&      
                    (dominio.indexOf(".") >=1)&& 
                    (dominio.lastIndexOf(".") < dominio.length - 1)) {
                    
                field.classList.add("is-valid");
                field.classList.remove("is-invalid");
            } else {
                field.classList.add("is-invalid");
                field.classList.remove("is-valid");
            }
        }

        function ValidarPassword(){
            if (pass1.value == pass2.value){
                pass2.classList.add("is-valid");
                pass2.classList.remove("is-invalid");
            } else {
                pass2.classList.add("is-invalid");
                pass2.classList.remove("is-valid");
            }
        }

    </script>
{% endblock %}