{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Veículos{% endblock %}
{% block name_page %}Veículos{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Veículos</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">
        
        {% comment %} MENSAGENS DE RETORNO {% endcomment %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error_mensagem }}
            </div>
        {% endif %}
        {% if sucesso %}
            <div class="alert alert-success" role="alert">
                {{ sucesso_mensagem }}
            </div>
        {% endif %}

        {% comment %} FORMULARIO {% endcomment %}
        <form role="form" action="." method="POST">{% csrf_token %}
            <div class="card-body">
                <!-- APELIDO -->
                <div class="form-group">
                    <label for="apelido">Apelido</label>
                    <input type="text" name="apelido" id="apelido" placeholder="Apelido" class="form-control">
                </div>

                <!-- PLACA -->
                <div class="form-group">
                    <label for="exampleInputPlaca">Placa</label>
                    <div class="input-group mb-3">
                        <input type="text" name="placa" id="exampleInputPlaca" onkeyup="ValidarPlaca()" placeholder="AAA-0000 ou  AAA0A00" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text"><span class="fas fa-car"></span></div>
                        </div>
                    </div>
                </div>
                <button type="submit" id="salvar" class="btn btn-primary">Salvar</button>
            </div>
        </form>

        {% comment %} TABELA {% endcomment %}
        <div class="">
            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Apelido</th>
                        <th>Placa</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% if veiculos %}
                        {% for veiculo in  veiculos %}
                            <tr>
                                <td>{{ veiculo.apelido }}</td>
                                <td>{{ veiculo.placa }}</td>
                                <td>
                                    <div style="text-align: center;">
                                        <button title="Remover" class="btn btnDelete flex-shrink-1 p-1 text-center btn-acao-vermelho"  value="{{ veiculo.id }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td></td><td></td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}    
    <script>
        
        function ValidarPlaca(){
            var placa = document.getElementById("exampleInputPlaca");
            document.getElementById("exampleInputPlaca").value = placa.value.toUpperCase();
            if (placa.value.length > 6){
                let PlacaOLD = new RegExp("^[A-Z]{3}[0-9]{4}$");
                let PlacaNEW = new RegExp("^[A-Z]{3}[0-9]{1}[A-Z]{1}[0-9]{2}$");
                
                var t1 = PlacaOLD.test(placa.value);
                var t2 = PlacaNEW.test(placa.value);

                if (t1 == true || t2 == true) {
                    placa.classList.add("is-valid");
                    placa.classList.remove("is-invalid");
                } else {
                    placa.classList.add("is-invalid");
                    placa.classList.remove("is-valid");
                }
            } else {
                placa.classList.add("is-invalid");
                placa.classList.remove("is-valid");
            }
        }
        
        $("#table").on('click', '.btnDelete', function () {
            var id_veiculo = $(this).val();
            $.ajax({
                type: "DELETE",
                url: '{% url 'veiculo' %}',
                dataType: "json",
                data: {
                    'id_veiculo': id_veiculo,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {
                    $(this).closest('tr').remove();
                }
            });
        });

        $(function () {
            $('#table').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
{% endblock %}