{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Veículos{% endblock %}
{% block name_page %}Veículos{% endblock %}
{% block tree %}
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">/</div>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <div class="nav-link disabled">Veículos</div>
</li>
{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
<div class="card card-solid card-outline">
    <div class="card-body box-profile">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error_mensagem }}
        </div>
        <div class="float-right">
            <a href="{% url 'veiculo' %}" class="btn btn-default" title="Voltar"><i class="fas fa-reply"></i> Voltar</a>
        </div>
        {% endif %}
        
        {% if object %}
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    <div class="form-group row">
                        <h6 class="font-weight-bold">Confirma exclusão permanente do veículo?</h6>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-02 col-form-label">Apelido:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="{{ object.apelido }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-02 col-form-label">Placa:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="{{ object.placa }}">
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <input type="submit" class="col col-md-2 btn btn-block btn-danger" value="Deletar">
                        <a href="{% url 'veiculo' %}" class="col col-md-2 btn btn-default" title="Voltar"><i class="fas fa-reply"></i> Voltar</a>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}