{% extends 'template-vendedor.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Verificar veículo{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    {% comment %} MENSAGENS DE RETORNO {% endcomment %}
    {% if error %}
        {% if aplicativo %}
            <div class="alert alert-warning" role="alert">
        {% else %}
            <div class="alert alert-danger" role="alert">
        {% endif %}
            <h5><i class="icon fas fa-ban"></i>Atenção!</h5>
            <p class="font-weight-bold">
                {{ error_mensagem }}
                {% if acao %}<br>{{acao}}{% endif%}
            </p>
        </div>
    {% endif %}
    {% if sucesso %}
        <div class="alert alert-success" role="alert">
            {{ sucesso_mensagem }}
        </div>
    {% endif %}

    {% comment %} FORMULARIO {% endcomment %}
    <form role="form" action="." method="POST">{% csrf_token %}
        <div class="card-body">
            <!-- PLACA -->
            <div class="form-group">
                <label for="exampleInputPlaca">Placa</label>
                <div class="input-group mb-3">
                    <input type="text" name="placa" id="exampleInputPlaca" onkeyup="ValidarPlaca()" placeholder="AAA-0000 ou  AAA0A00" class="form-control">
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="fas fa-car"></span></div>
                    </div>
                </div>
            </div>
            <button type="submit" id="Verificar" class="btn btn-primary">Verificar</button>
        </div>
    </form>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}    
    <script>
        function ValidarPlaca(){
            var placa = document.getElementById("exampleInputPlaca");
            document.getElementById("exampleInputPlaca").value = placa.value.toUpperCase();
            if (placa.value.length > 6){
                let PlacaOLD = new RegExp("^[A-Z]{3}[0-9]{4}$");
                let PlacaNEW = new RegExp("^[A-Z]{3}[0-9]{1}[A-Z]{1}[0-9]{2}$");
                
                var t1 = PlacaOLD.test(placa.value);
                var t2 = PlacaNEW.test(placa.value);

                if (t1 == true || t2 == true) {
                    placa.classList.add("is-valid");
                    placa.classList.remove("is-invalid");
                } else {
                    placa.classList.add("is-invalid");
                    placa.classList.remove("is-valid");
                }
            } else {
                placa.classList.add("is-invalid");
                placa.classList.remove("is-valid");
            }
        }
    </script>
{% endblock %}