{% extends 'template-administrativo.html' %}
{% load static %}
{% load bootstrap4 %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Dashboards{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    {% comment %} MENSAGENS DE RETORNO {% endcomment %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <h5><i class="icon fas fa-ban"></i>Atenção!</h5>
            <p class="font-weight-bold">
                {{ error_mensagem }}
                {% if acao %}<br>{{acao}}{% endif%}
            </p>
        </div>
    {% endif %}
    {% if sucesso %}
        <div class="alert alert-success" role="alert">
            {{ sucesso_mensagem }}
        </div>
    {% endif %}
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>

    <div id="chartdiv"></div>   

{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}    
    <script>
        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.XYChart);

            // Add data
            chart.data = [
            {date:new Date(2019,5,12), value1:50, value2:48, previousDate:new Date(2019, 5, 5)},
            {date:new Date(2019,5,13), value1:53, value2:51, previousDate:new Date(2019, 5, 6)},
            {date:new Date(2019,5,14), value1:56, value2:58, previousDate:new Date(2019, 5, 7)},
            {date:new Date(2019,5,15), value1:52, value2:53, previousDate:new Date(2019, 5, 8)},
            {date:new Date(2019,5,16), value1:48, value2:44, previousDate:new Date(2019, 5, 9)},
            {date:new Date(2019,5,17), value1:47, value2:42, previousDate:new Date(2019, 5, 10)},
            {date:new Date(2019,5,18), value1:59, value2:55, previousDate:new Date(2019, 5, 11)}
            ]

            // Create axes
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.renderer.minGridDistance = 50;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

            // Create series
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "value1";
            series.dataFields.dateX = "date";
            series.strokeWidth = 2;
            series.minBulletDistance = 10;
            series.tooltipText = "[bold]{date.formatDate()}:[/] {value1}\n[bold]{previousDate.formatDate()}:[/] {value2}";
            series.tooltip.pointerOrientation = "vertical";

            // Create series
            var series2 = chart.series.push(new am4charts.LineSeries());
            series2.dataFields.valueY = "value2";
            series2.dataFields.dateX = "date";
            series2.strokeWidth = 2;
            series2.strokeDasharray = "3,4";
            series2.stroke = series.stroke;

            // Add cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.xAxis = dateAxis;

        }); // end am4core.ready()
    </script>
{% endblock %}