{% extends 'template-administrativo.html' %}
{% load static %}
{% load bootstrap4 %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Dashboards - Resumo{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    {% comment %} MENSAGENS DE RETORNO {% endcomment %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <h5><i class="icon fas fa-ban"></i>Atenção!</h5>
        <p class="font-weight-bold">
            {{ error_mensagem }}
        </p>
    </div>
    {% endif %}

    <!-- FILTROS -->
    <div class="row">
        <h5 class="font-weight-bold">Filtros</h5>
    </div>
    <form action="." method="get">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <select class="browser-default custom-select" id="ano" name="ano">
                    <option selected value="">Ano</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <select class="browser-default custom-select" id="mes" name="mes">
                    <option selected value="">Mês</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-2">
                <button type="submit" class="btn btn-info btn-block" name="filtrar" title="Filtrar" value="Filtrar">Filtrar</button>
            </div>
            <div class="col-12 col-sm-12 col-md-2">
                <button type="submit" class="btn btn-warning btn-block" name="limpar" title="Limpar filtros" value="Limpar">Limpar</button>
            </div>
        </div>
    </form><br>

    <!-- MÉTRICAS -->
    <div class="row">
        <!-- MÉTRICAS DE CRÉDITOS -->
        <div class="col-12 col-sm-12 col-md-12">
            <span>Métricas creditos</span>
        </div>
        <!-- CRÉDITOS COMPRADOS  -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-info elevation-1"><i class="fas fa-credit-card"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Comprados</span>
                    <span class="info-box-number">
                        R$ {{ sum_valor_entradas|default_if_none:"0.00" }}
                    </span>
                </div>
            </div>
        </div>
        
        <!-- CŔEDITOS EM CARTEIRA -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-info elevation-1"><i class="fas fa-wallet"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Em carteira</span>
                    <span class="info-box-number">
                        R$ {{ sum_valor_carteira|default_if_none:"0.00" }}
                    </span>
                </div>
            </div>
        </div>
        
        <!-- CRÉDITOS UTILIZADOS -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-info elevation-1"><i class="fas fa-check"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Utilizados</span>
                    <span class="info-box-number">
                        R$ {{ sum_valor_saidas|default_if_none:"0.00" }}
                    </span>
                </div>
            </div>
        </div>
        
        <!-- MÉTRICAS DE PARADAS -->
        <div class="col-12 col-sm-12 col-md-12">
            <span>Métricas de paradas</span>
        </div>

        <!-- TOTAL PARADAS -->
        <div class="w-100"></div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-car"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total de paradas</span>
                    <span class="info-box-number">
                        {{ sum_total_paradas|default_if_none:"0.00" }}
                    </span>
                </div>
            </div>
        </div>

        <!-- PARADA ATIVAS -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-car-side"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total de paradas ativas</span>
                    <span class="info-box-number">
                        {{ sum_total_paradas_ativas|default_if_none:"0.00" }}
                    </span>
                </div>
            </div>
        </div>

        <!-- TOTAL DE NOTIFICAÇÕES -->
        <div class="w-100"></div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-gray elevation-1"><i class="fas fa-exclamation"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total de notificações</span>
                    <span class="info-box-number">
                        {{ sum_total_notificacoes|default_if_none:"0.00" }}
                    </span>
                </div>
            </div>
        </div>
        
        <!-- TAXA DE NOTIFICAÇÕES -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-gray elevation-1"><i class="fas fa-exclamation"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Taxa de notificações</span>
                    <span class="info-box-number">
                        {{ taxa_notificacoes|default_if_none:"0.00" }}<small>%</small>
                    </span>
                </div>
            </div>
        </div>

        <!-- TOTAL DE INFRAÇOES -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-gray elevation-1"><i class="fas fa-exclamation-triangle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total de infrações</span>
                    <span class="info-box-number">
                        {{ sum_total_infracoes|default_if_none:"0.00" }}
                    </span>
                </div>
            </div>
        </div>

        <!-- TAXA DE INFRAÇÕES -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-gray elevation-1"><i class="fas fa-exclamation-triangle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Taxa de infrações</span>
                    <span class="info-box-number">
                        {{ taxa_infracoes|default_if_none:"0.00" }}<small>%</small>
                    </span>
                </div>
            </div>
        </div>

         <!-- MÉTRICAS DE DESEMPENHO/mês -->
         <div class="col-12 col-sm-12 col-md-12">
            <span>Métricas de desempenho/mês</span>
        </div>

        <!--  -->
        <div class="w-100"></div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-gray-dark elevation-1"><i class="fas fa-thumbs-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total de horas válidas</span>
                    <span class="info-box-number">
                        {{ horas_validas|default_if_none:"0.00" }}<small>h</small>
                    </span>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-gray-dark elevation-1"><i class="fas fa-chart-bar"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total de horas válidas usadas</span>
                    <span class="info-box-number">
                        {{ total_horas_paradas|default_if_none:"0.00" }}<small>h</small>
                    </span>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-gray-dark elevation-1"><i class="fas fa-asterisk"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Delta</span>
                    <span class="info-box-number">
                        {{ delta_horas_paradas|default_if_none:"0.00" }}<small>h</small>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <!-- GRAFICOS -->
    <div class="row">
        <!-- GRÁFICOS DE  -->
        <div class="col-12 col-sm-12 col-md-12">
            <span>Gráficos de totais</span>
        </div>
        <!-- CRÉDITOS COMPRADOS  -->
        <div class="col-12 col-sm-12 col-md-6">
            <div id="chartdiv" class="admin-grafico"></div>
        </div>
    </div>

    <!--
        Metricas:
        * Notificações lidas;
        * Buscas por funcionários média;
        * Top 5 funcionarios que mais realizaram buscas;
        * Top 5 funcionarios que mais realizaram notificações;
        * Top 5 funcionarios que mais realizaram buscas e notificações;
        Gráficos:
        * Gráfico de totais de paradas/infrações;
        * Gráfico histórico de paradas/infrações;
        * Gráfico de total de vendas por região;
    -->
    

{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
<script>
    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var chart = am4core.create("chartdiv", am4charts.PieChart);

    // Set data
    var selected;
    var types = [{
    type: "Fossil Energy",
    percent: 70,
    color: chart.colors.getIndex(0),
    subs: [{
        type: "Oil",
        percent: 15
    }, {
        type: "Coal",
        percent: 35
    }, {
        type: "Nuclear",
        percent: 20
    }]
    }, {
    type: "Green Energy",
    percent: 30,
    color: chart.colors.getIndex(1),
    subs: [{
        type: "Hydro",
        percent: 15
    }, {
        type: "Wind",
        percent: 10
    }, {
        type: "Other",
        percent: 5
    }]
    }];

    // Add data
    chart.data = generateChartData();

    // Add and configure Series
    var pieSeries = chart.series.push(new am4charts.PieSeries());
    pieSeries.dataFields.value = "percent";
    pieSeries.dataFields.category = "type";
    pieSeries.slices.template.propertyFields.fill = "color";
    pieSeries.slices.template.propertyFields.isActive = "pulled";
    pieSeries.slices.template.strokeWidth = 0;

    function generateChartData() {
    var chartData = [];
    for (var i = 0; i < types.length; i++) {
        if (i == selected) {
        for (var x = 0; x < types[i].subs.length; x++) {
            chartData.push({
            type: types[i].subs[x].type,
            percent: types[i].subs[x].percent,
            color: types[i].color,
            pulled: true
            });
        }
        } else {
        chartData.push({
            type: types[i].type,
            percent: types[i].percent,
            color: types[i].color,
            id: i
        });
        }
    }
    return chartData;
    }

    pieSeries.slices.template.events.on("hit", function(event) {
    if (event.target.dataItem.dataContext.id != undefined) {
        selected = event.target.dataItem.dataContext.id;
    } else {
        selected = undefined;
    }
    chart.data = generateChartData();
    });

    }); // end am4core.ready()
</script>
{% endblock %}